---
layout: base.njk
title: Author
permalink: /author/
image: "photo_web_site.png"
---

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <article class="card mb-4">
        <div class="card-body">
          <div class="author-box">
            <div class="author-avatar text-center mb-4">
              <img src="{{ '/img/' + image | url }}" alt="The Architect" class="img-fluid w-100">
            </div>
            <div class="author-description">
              <p>Abdelfattah Abouelaoualim is a seasoned expert in cloud architecture, data engineering, machine learning, and DevOps,
                boasting over 17 years of extensive experience across multiple industries. Holding a Ph.D. in Computer Science from
                Université Paris-Saclay, a Master's degree in Mathematics and Computer Science from ENSIMAG, and a Specialized Master's
                in Big Data from Télécom Paris, Abdelfattah combines deep academic knowledge with practical expertise.</p>
              <p>Certified as a TOGAF Enterprise Architect and possessing multiple Google Cloud Platform certifications—including
                Professional Cloud Architect, Data Engineer, Machine Learning Engineer, and DevOps Engineer—he excels in designing
                sophisticated data platforms, managing high-performance data pipelines, and developing robust machine learning
                solutions.</p>
              <p>Throughout his career, Abdelfattah has successfully led transformative projects for prominent organizations such as
                Vinci Airports and Bull SAS. His ability to merge cutting-edge technology with strategic insight has consistently
                enabled teams to achieve efficiency, innovation, and security at scale.</p>
              <p>Abdelfattah is passionate about automation, cybersecurity, and advanced analytics, always staying ahead with
                continuous learning and innovation.</p>
              <div class="author-social text-center mt-4">
                <a href="https://github.com/AbdelfattahAbouelaoualim" target="_blank" class="btn btn-outline-primary mx-2">
                  <i class="fab fa-github"></i>
                  GitHub
                </a>
                <a href="https://www.linkedin.com/in/ia-ds-bg/" target="_blank" class="btn btn-outline-primary mx-2">
                  <i class="fab fa-linkedin"></i>
                  LinkedIn
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="col-md-3">
      <aside
        class="sidebar sidebar-sticky"><!-- La section Categories a été supprimée -->
      </aside>
    </div>
  </div>
</div>