---
layout: base.njk
title: Author
permalink: /author/
image: "photo_web_site.png"
---

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <article class="card mb-4">
        <div class="card-body">
          <div class="author-box">
            <div class="author-avatar text-center mb-4">
              <img src="{{ '/img/' + image | url }}" alt="The Architect" class="img-fluid w-100">
            </div>
            
            <div class="author-description">
              <p>I am a solutions architect passionate about modern cloud infrastructures, data engineering, and artificial intelligence. With over 10 years of experience in the field, I have worked on various projects ranging from distributed data architectures to large-scale AI systems.</p>
              
              <p>My journey has allowed me to develop expertise in several areas:</p>
              
              <ul>
                <li>Design and implementation of cloud-native architectures</li>
                <li>Data engineering and modern data pipelines</li>
                <li>Applied artificial intelligence and machine learning</li>
                <li>DevOps and Infrastructure as Code</li>
                <li>Graph databases and NoSQL technologies</li>
              </ul>
              
              <p>Through this blog, I share my thoughts, analyses, and experiences on these topics, focusing on practical approaches and emerging trends.</p>
              
              <div class="author-social text-center mt-4">
                <a href="https://github.com/AbdelfattahAbouelaoualim" target="_blank" class="btn btn-outline-primary mx-2">
                  <i class="fab fa-github"></i> GitHub
                </a>
                <a href="https://www.linkedin.com/in/ia-ds-bg/" target="_blank" class="btn btn-outline-primary mx-2">
                  <i class="fab fa-linkedin"></i> LinkedIn
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    
    <div class="col-md-3">
      <aside class="sidebar sidebar-sticky">
        <!-- La section Categories a été supprimée -->
      </aside>
    </div>
  </div>
</div> 